#home {
	display: grid;
	grid-template-rows: 20px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px 5px;
}

.lastvisit {
	grid-column: 1 / -1; /* keep this on first line to line up things properly */
	height: 20px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-gap: 10px;
	align-items: center;
}
.lastvisit:before, .lastvisit:after {
	display: block;
	content: '';
	height: 5px;
	border-radius: 5px;
	background: linear-gradient(to left, #707070, transparent)
}
.lastvisit:after {
	background: linear-gradient(to right, #707070, transparent)
}

/* .pic > img:hover, .gits legend:hover { */
.gits, .npm legend:hover {
	cursor: pointer;
}

.npm li {
	font: 15px Courier;
	list-style-type: decimal;
}

.grid {
	display: grid;
	grid-gap: 10px 0px;
}
.grid.left {
	grid-column: 1 / span 1;
	grid-auto-rows: min-content;
}
.grid.right {
	grid-column: span 1 / -1;
	grid-auto-rows: min-content;
}
