{
	"extends": "eslint-config-airbnb",
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"modules": true,
			"experimentalObjectRestSpread": true
		}
	},
	"rules": {
		"import/extensions": 0,
		"import/no-extraneous-dependencies": 0,
		"import/no-unresolved": [
			2,
			{
				"ignore": [
					"electron"
				]
			}
		],
		"linebreak-style": 0,
		"react/prefer-stateless-function": 0,
		"no-console": 0,
		"no-tabs": 0,
		"indent": 0,
		"global-require": 0,
		"react/jsx-indent": 0,
		"import/newline-after-import": 0,
		"semi": 0,
		"space-before-function-paren": 0,
		"comma-dangle": 0,
		"consistent-return": 0,
		"no-alert": 0,
		"react/jsx-indent-props": 0,
		"jsx-a11y/no-static-element-interactions": 0,
		"class-methods-use-this": 0,
		"max-len": 0,
		"react/prop-types": 0,
		"no-plusplus": 0,
		"no-new": 0,
		"react/jsx-no-bind": 0,
		"jsx-a11y/href-no-hash": 0,
		"jsx-a11y/anchor-is-valid": 0,
		"jsx-a11y/click-events-have-key-events": 0,
		"react/no-array-index-key": 0,
		"jsx-a11y/no-noninteractive-element-interactions": 0,
		"jsx-a11y/no-autofocus": 0,
		"no-nested-ternary": 0,
		"no-mixed-operators": 0,
		"react/no-did-mount-set-state": 0,
		"no-underscore-dangle": 0,
		"no-param-reassign": 0,
		"no-restricted-globals": 0,
		"react/no-danger": 0,
		"no-use-before-define": 0,
		"prefer-destructuring": 0,
		"no-shadow": 0,
		"padded-blocks": 0,
		"react/jsx-one-expression-per-line": 0,
		"react/destructuring-assignment": 1,
		"object-curly-newline": 0
	}
}