.fc-unthemed td.fc-today {
  background-color: #525252;
}
.fc-unthemed .fc-list-heading td {
  background-color: #525252;
  color: #cacaca;
}

.fc-toolbar h2 {
  font-size: 1.5em;
}

.fc-unthemed .fc-list-item:hover td, .fc-day.fc-other-month {
  background-color: #252525;
}
