
.moon {
	position: relative;
	float: right;
	width: 30px;
	height: 30px;
	right: 7px;
	top: 27px;
	background: #0a0a0a;
	border-radius: 50%;
	box-shadow: inset 0px 0 whitesmoke;
	transform: rotate(0rad);
}
