@import 'src/css/fullcalendar.css';
@import 'src/css/calendar.css';
@import 'src/css/notebook.css';
@import 'src/css/weather.css';
@import 'src/css/home.css';
@import 'src/css/atomspinner.css';
@import 'src/css/moon.css';
@import 'src/css/settings.css';
@import 'src/css/terminal.css';
@import 'src/css/xterm.css';

/* global styles here */

:global body {
	background-color: #525252;
}

:global #App {
	display: grid;
	grid-template-columns: 25px 1fr;
}

:global .view-container {
	box-sizing: border-box;
	width: calc(100vw - 50px - 15px);
	height: calc(100vh - 16px);
	padding: 5px;
	border-radius: 4px;
	border: 4px solid #292929;
	background-color: #35363A;
	color: #C7C7C7;
	overflow: auto;
}

:global .linkstyle {
	text-decoration: underline;
	color: darkseagreen;
}

:global .linkstyle:hover {
	cursor: pointer;
}

:global #spinner {
	width: 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	animation: spin infinite 5s linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

:global fieldset {
	border-radius: 5px;
  border: 2px solid dimgrey;
}

:global legend {
	padding: 0px 4px;
}

