:root {
	--color-dark: rgb(40, 40, 40);
}

#tooltip {
	display: none;
	position: absolute;
	background-color: var(--color-dark);
	border: 1px solid white;
	padding: 7px;
	border-radius: 5px;
	z-index: 10;
	width: 100px;
}

.fc-unthemed td.fc-today {
	background: var(--color-dark); 
	border-top: 1px solid white;
}

.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-helper-skeleton td {
	border-color: white;
}

.fc-time-grid .fc-slats td {
	height: 27px; /*2.5em in fc css, 'almost' fixes agendaweek gutter */
}

.fc-unthemed .fc-list-heading td {
	background-color: rgb(163, 163, 163);
	color: #000;
}

.fc-unthemed .fc-list-item:hover td {
	background-color: var(--color-dark);
}
/* jhj */
.fc-row.fc-week.fc-widget-content {
	min-height: 40px;
	height: 44px !important;
	/* height: 64px !important; */
}
