#home {
	display: grid;
	grid-template: "lastvisit lastvisit" 30px
					"gits weather"
					"quote pic" ;
	grid-template-columns: 50% 50%;
	grid-gap: 10px 0px;
}
.lastvisit {
	grid-area: lastvisit;
}
.weather {
	grid-area: weather;
}
.gits {
	grid-area: gits;
}
.quote {
	grid-area: quote;
}
.pic {
	grid-area: pic;
}
