#home {
	display: grid;
	grid-template-columns: 1fr 1fr;  
	grid-gap: 10px 0px;
}
.lastvisit {
	grid-column: 1 / -1;
}
/* .lastvisit, .quote {
	grid-column: 1 / -1;
} */
.lastvisit {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-gap: 10px;
	align-items: center;
}
.lastvisit:before, .lastvisit:after {
	display: block;
	content: '';
	height: 10px;
	border-radius: 5px;
	background: linear-gradient(to left, #C7C7C7, transparent)
}
.lastvisit:after {
	background: linear-gradient(to right, #C7C7C7, transparent)
}
.next-gigs ul{
  /* overflow-x: scroll; */
  margin-left: 5px;
}
.next-gigs li {
  list-style-type: circle;
}
.grid {
	display: grid;
	grid-gap: 10px 0px;
}
.grid.left {
	grid-column: 1 / span 1;
	grid-auto-rows: min-content;
}
.grid.right {
	grid-column: span 1 / -1;
	grid-auto-rows: min-content;
}
