#laptop {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#laptop fieldset {
  height: 90%;
}

.laptop-img {
  height: 20px;
  width: 20px;
  margin: 0px 5px;
}

#terminal {
  width: 99%;
  height: 87%;
  resize: none;
  background-color: #000;
  color: green;
}