

#navbar {
	box-sizing: border-box;
	width: 25px;
	margin: 10px 10px 10px 5px;
	display: grid; 
	grid-template-rows: repeat(3, 40px) 1fr;
}

.fa-icon {
	height: 30px;
	width: 30px;
	transition: 0.25s ease-in-out;
}

.fa-icon:hover {
	transform: scale(1.2);
}

.settings {
	align-self: end;
}